<html lang='en'>
     <head>
          <meta charset='UTF-8' />
          <meta
               name='viewport'
               content='width=device-width, initial-scale=1.0'
          />
          <title>Document</title>
     </head>
     <body>

          <div class='container'>

               <h1>Hi {{name}}, </h1>

               <p>
                    You have successfully logged in to your account from
                    {{ip}}. If you didn't log in yourself, someone might have
                    access your email, Please follow the steps below:
               </p>

               <p>
                    Here are the steps:</p>

               <ul>
                    <li>1. Go to login page</li>
                    <li>2. And try to login into your account.</li>
                    <li>3. We will remove all currently logged in users and
                         marked you has active.</li>
               </ul>

               <p>
                    We apologize for any inconvenience this may cause. Thanks,
                    staygotransit 🙇‍♀️
               </p>
          </div>
     </body>
</html>