<html lang='en'>
     <head>
          <meta charset='UTF-8' />
          <meta http-equiv='X-UA-Compatible' content='IE=edge' />
          <meta
               name='viewport'
               content='width=device-width, initial-scale=1.0'
          />
          {{! GOOGLE FONT CDN }}
          <link rel='preconnect' href='https://fonts.googleapis.com' />
          <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
          <link
               href='https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap'
               rel='stylesheet'
          />

          {{! TEMPLATE STYLES }}
          <style>
               body { font-family: 'Poppins', sans-serif; background-color:
               #f4f4f4; color: #333; } .container { max-width: 600px; margin: 0
               auto; padding: 20px; background-color: #eeeeeebc; box-shadow: 0 0
               10px #0000001a; } strong{ font-size: 19px; font-weight: 800; }
               .thanks{ font-style: italic; }
          </style>
          <title>
               Subject: Welcome to [Your Rental Service] - Your Journey Starts
               Here!</title>
     </head>

     <body>
          <div class='container'>

               <small>Dear {{email}},</small>

               <p>Welcome aboard! We're thrilled to have you as a part of the
                    <strong>staygotransit</strong>
                    family. Your journey with us begins now, and we're here to
                    make it an unforgettable experience.
               </p>

               <p>

                    Important Note:
                    <br />
                    Your account has been successfully verified through OTP,
                    ensuring a secure and seamless experience with
                    <strong>staygotransit</strong>. We take your safety
                    seriously, and this additional layer of verification is just
                    one of the many ways we prioritize your peace of mind.
               </p>

               <h5>Getting Started:</h5>

               <ul>

                    <p>Now that you're all set, let's start exploring the world
                         of cars, buses, and trains at your fingertips!</p>

                    <li>Browse Our Fleet:
                         <br />
                         Take a look at our diverse fleet of vehicles, from
                         sleek cars to spacious buses and efficient trains. Find
                         the perfect ride for your needs, whether it's a quick
                         city commute, a family vacation, or a business trip.
                    </li>

                    <li>
                         Easy Booking Process:
                         <br />
                         Our user-friendly platform makes booking a breeze.
                         Simply log in, choose your preferred vehicle, select
                         your rental dates, and you're ready to go. It's that
                         simple!
                    </li>

                    <li>
                         Personalized Recommendations:
                         <br />
                         Receive personalized recommendations based on your
                         preferences and past bookings. We want to ensure every
                         journey with us is tailored to your unique needs.
                    </li>

                    <li>
                         24/7 Customer Support:
                         <br />
                         Have a question or need assistance? Our dedicated
                         customer support team is available 24/7 to help you
                         with any inquiries or concerns. Your satisfaction is
                         our top priority.
                    </li>

                    <li>
                         Exclusive Offers:
                         <br />
                         As a token of our appreciation, enjoy exclusive offers
                         and discounts on your future bookings. Keep an eye on
                         your inbox for exciting promotions and special deals.
                    </li>

                    <p>
                         We're excited to be a part of your travel adventures
                         and look forward to serving you. Thank you for choosing
                         [Your Rental Service]—where every journey is a story
                         waiting to be written.

                    </p>
               </ul>

               <small>Safe travels!</small>

               <small>Best regards,</small>
               <div>

                    staygotransit Team
                    <br />
                    mussabdulkabeer19@gmail.com
                    <br />
                    <a href='https://stay-go-transit.vercel.app/'>Start
                         Browsing! 🥰</a>
               </div>
          </div>
     </body>
</html>